{% extends '_base.njk' %}
{% block content %}
    <p>PostrChild is a simple little chat bot that can help you publish <a href="https://indieweb.org/micropub">micropub</a> posts to your <a href="https://indieweb.org">indieweb</a> site.</p>

    <p>
        <a class="button" href='https://www.messenger.com/t/1845133039077197'>Facebook Messenger</a>
        <a class="button" href='https://join.skype.com/bot/4c2a1dd4-00bb-4d5c-a0d7-b8f8af9547f8'>Skype</a>
        <a class="button" href="https://slack.com/oauth/authorize?scope=bot&client_id=8196491008.124913786947&redirect_uri=https%3a%2f%2fslack.botframework.com%2fHome%2fauth&state=postrchild">Slack</a>
    </p>
{% endblock %}
