@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"),
    local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"),
    local("Segoe UI Light Italic"), local("Ubuntu Light Italic"),
    local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"),
    local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"),
    local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"),
    local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"),
    local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"),
    local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"),
    local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"),
    local(".HelveticaNeueDeskInterface-MediumItalicP4"),
    local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"),
    local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"),
    local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"),
    local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"),
    local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"),
    local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"),
    local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"),
    local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

:root {
  --main: #6142a5;
  --secondary: #df99d8;
  --text-c: #222;
  --bgc: white;
  --light: #f8e5f6;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--bgc);
  color: var(--text-c);
  font-size: 130%;
  font-family: system-ui;
  font-weight: 300;
  line-height: 1.5;
}

header {
  background-color: var(--light);
  text-align: center;
  padding: 2rem;
  color: rgba(20, 20, 20, 0.9);
  font-family: "Monoton", system-ui;
  font-size: 4.8vw;
  grid-area: 👆;
}
@media (min-width: 40em) {
  header {
    font-size: 1.5em;
  }
}

header a {
  text-decoration: none;
}

header h1 {
  line-height: 1;
  background: linear-gradient(20deg, var(--main), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

header img {
  display: inline;
  width: 1.3em;
  height: auto;
  vertical-align: -0.5em;
  margin: 0.2em 0.5em;
}

a {
  color: var(--main);
}
a:hover,
a:focus {
  opacity: 0.7;
}

pre {
  text-align: left;
  font-size: 0.8em;
  padding: 1em;
  line-height: 1.2;
  background-color: var(--light);
  overflow: auto;
  border: 1px solid var(--secondary);
  border-radius: 0.3rem;
}

main {
  padding: 1rem;
  grid-area: 📄;
}

.main-content {
  max-width: 40rem;
  padding: 4rem 0;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 1rem;
  grid-area: 👇;
  background-color: var(--light);
}

.button {
  display: inline-block;
  appearance: none;
  border: none;
  border-radius: 0.3rem;
  padding: 1em;
  font-size: 1em;
  line-height: 1;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  color: var(--bgc);
  background-color: var(--main);
  transition: background-color 0.2s;
}
.button:hover,
.button:focus {
  color: var(--bgc);
  background-color: var(--secondary);
}

.chatbox {
  margin-top: 2em;
  width: 20em;
  max-width: 100%;
  min-height: 18em;
  border: none;
  background-color: white;
}

@media (min-width: 50em) and (min-height: 30em) {
  body {
    display: grid;
    grid-template-columns: 20em auto;
    grid-template-rows: 60% 40%;
    grid-template-areas:
      "👆 📄"
      "👇 📄";
    place-items: stretch;
    overflow: hidden;
  }

  header,
  footer {
    border-right: 1px solid var(--secondary);
  }

  header {
    font-size: 1em;
  }

  main {
    overflow: auto;
  }
}

@media (min-width: 70em) and (min-height: 30em) {
  body {
    grid-template-columns: 30em auto;
  }
  header {
    font-size: 1.5em;
  }
}
